/* 
    Seed | Insight 
       ver 3.0
    Author : GliTCH
*/

* {
    transition: all 0.3s ease-in-out;
}

body {
    overflow: hidden;
    height: 100vh;
    width: 100%;
    background-image: url(../images/standby/1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-clip: border-box;
    background-blend-mode: difference;
}

div.master_overlay {
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.6);
    width: inherit;
    height: inherit;
}

/* APPS */
div.app-menu {
    z-index: 99;
    width: 100%;
    height: 100%;
    color: #fff;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

div.app {
    background-color: black;
    border-radius: 4px;
    width: 150px;
    height: 150px;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
    flex-direction: column;
    gap: 10px;
    transform: scale(1);
    transition: all 0.2s ease;
}
    div.app img {
        width: 36px;
        height: 36px;
    }
    div.app h5 {
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 1rem;
    }
div.app::selection {
    background-color: transparent;
}

div.app:hover {
    border-radius: 8px;
    box-shadow: 
        4px 4px 4px rgba(3, 244, 132, 0.393),
        -4px -4px 4px rgba(3, 244, 132, 0.409);

    transform: scale(1.1);
    transition: all 0.2 ease;
}

div.app:active {
    border-radius: 10px;
    box-shadow: none;
    transform: scale(1);
    transition: all 0.2 ease-in-out;
}

@media (max-width : 768px) {
    div.app-menu {
        flex-direction: column;
    }

    div.app {
        width: 100px;
        height: 100px;
    }
}