* {
    margin: 0;
    padding: 0;
    transition: all 0.3s ease-in-out;
}
*::selection {background-color: transparent;}

:root {
    --button-color : #03f4846b;
    --link-color : #69a854;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #141414; 
    color: #cbd5e2; 
}

.wrapper {
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 480px;
    /* height: 500px; */
    background-color: #232323;
    border-radius: 5px;
    box-shadow: 0 0 50px rgba(35, 35, 35, 1);
}
    .wrapper h1 {
        text-align: center;
        margin-bottom: 7%;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    }

.wrapper .auth-mode {
    display: flex;
    flex-direction: row;
    gap: 40px;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.mode-signin, .mode-signup {
    box-shadow: 0 0 25px rgba(35, 35, 35, 1);
    cursor: pointer;
    text-align: center;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    transform: scale(1);
    display: flex;
    flex-direction: row;
    text-align: center;
    transition: all 0.3s ease;
    justify-self: center;
    align-items: center;
    gap: 4px;
}

.mode-signin p, .mode-signup p {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: var(--button-color);
}

.mode-signin {
    width: 100px;
    height: 30px;
    
}

.mode-signup {
    width: 100px;
    height: 30px;
}

.mode-signin img, .mode-signup img {
    padding-left: 10%;
    width: 20px;
    height: 30px;
}

.mode-signin.active {
    background-color: var(--button-color);
}

.mode-signup.active {
    background-color: var(--button-color);
}

p.active {
    color: aliceblue;
}

.mode-signin:active, .mode-signup:active {
    transform: scale(1.1);

    transition: all 0.2s ease;
}

.auth-form-SIGNIN {
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    /* align-items: center; */
    margin-left: 10%;
}

input[type='email'], input[type='password'], input[type='text']{
    width: 360px;
    height: 40px;
    border: none;
    outline: none;
    border-radius: 4px;
    padding-left: 2%;
    box-shadow: 0 0 15px rgba(255, 245, 245, 0.4);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
input::selection {
    background-color: var(--button-color);
}

.otp {
    width: 360px;
    display: flex;
    flex-direction: row;
    gap: 25px;
    align-items: center;
    justify-content: center;
}

.otp input {
    padding: 0;
    text-align: center;
    width: 30px;
    height: 40px;
    border: none;
    outline: none;
    border-radius: 4px;
    box-shadow: 0 0 15px rgba(255, 245, 245, 0.4);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a {
    color: var(--link-color);
    text-decoration: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-left: 8%;
}

.link_forgot {
    margin-top: 3%;
}

.agree_t_c {
    margin-top: 10%;
}

.agree_t_c input {
    margin-left: 8%;
}

.btn-signin {
    margin-top: 7%;
    box-shadow: 0 0 25px rgba(35, 35, 35, 1);
    cursor: pointer;
    text-align: center;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    transform: scale(1);
    display: flex;
    flex-direction: row;
    text-align: center;
    transition: all 0.3s ease;
    justify-self: center;
    align-items: center;
    gap: 4px;
    background-color: var(--button-color);
    width: 360px;
}


.btn-signin p {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: aliceblue;
}

.btn-signin {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-signin:active {
    transform: scale(1.1);
    transition: all 0.2s ease;
}

label {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.password-container {
    position: relative;
    display: inline-block;
}

.password-container .toggle-password {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
}
.password-container .toggle-password img {
    width: 20px;
    height: 20px;
}

html, body {
    height: 100vh;
    scroll-behavior: smooth;
}

body {
    overflow: hidden;
    width: 100%;
    height: 100vh;        

}

.toast {
    width: 300px;
    height: 50px;
    background-color: #232323;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 10px;
    margin-top: 20px;
    border-radius: 10px;
    font-size: 0.91rem;
    justify-content: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.toast h3 {
    margin-left: 8%;
}

.toast.error {
    border-left: 5px solid tomato;
}

.toast.warning {
    border-left: 5px solid yellow;
}

.toast.success {
    border-left: #69a854 solid 5px;
}


@media (max-width : 430px) {
    body {
        display: flex;
        flex: 0;
    }
    div.wrapper {
        padding: 10;
        width: 320px;
    }

    div.btn-signin {
        width: 240px;
    }
    h1 {
        font-size: 1.6rem;
    }
    input[type="email"], input[type="password"], input[type="text"] {
        width: 240px;
        font-size: 14px;
    }

    div.otp {
        width: 240px;
    }

    div.otp input {
        width: 30px;
    }

    * {
        font-size: 1rem;
    }



}