* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.3s ease-in-out;
}

:root {
    --body-bg: #161616;
    --body-bg-2: #1e1e1e;
    --primary-color: #03f484;
    --secondary-color: #69a854;
}

body {
    background-color: var(--body-bg);
    height: 100vh !important;
    width: 100vw !important;
}

.hidden {
    display: none;
}

.overlay {
    z-index: 20;
    background-color: rgba(0, 0, 0, 0.4);
    width: 100vw;
    height: 100vh;
}

hr {
    border: 0;
    border-bottom: solid 1px rgba(212, 212, 255, 0.1);
    margin: 2em 0;
    height: 2px !important;
    background-color: beige;
    width: clamp(200px, 18vw, 600px);
}
    hr.major {
        margin: 3em 0;
    }

.scroll-container {
    overflow: hidden;
    max-height: 100% !important;
    overflow-y: auto !important;
    overflow-x: hidden;
    padding-right: 10px !important;

}

.scroll-container::-webkit-scrollbar {
    width: 8px !important;
}

.scroll-container::-webkit-scrollbar-thumb {
    background-color: #444 !important;
    border-radius: 4px !important;
}

main {
    display: flex;
    flex-direction: row;
    width: inherit;
    height: inherit;
}

.action-panel {
    position: sticky;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: clamp(250px, 25vw, 600px);
    background-color: #333;
    padding: 40px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    text-align: center;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    transform: scale(1);
    transition: transform 0.5s ease;
}

.wrapper {
    width: inherit;
    height: inherit;
    display: block;
}

.wrapper img {
    width: 100px;
    height: 100px;
    margin-right: 5%;
    margin-bottom: 10%;

}

.wrapper h1 {
    font-size: 2em;
    margin-bottom: 10px;
}

.wrapper h1.active {
    animation: textanimatecolor 2s ease-in-out 0.3s infinite forwards;
}

@keyframes textanimatecolor {
    0% {
        text-shadow: 0 0 50px rgba(251, 216, 19, 0.652);
    }

    10% {
        text-shadow: 0 0 80px rgba(131, 251, 19, 0.652);
    }

    20% {
        text-shadow: 0 0 80px rgba(5, 255, 138, 0.652);
    }

    30% {
        text-shadow: 0 0 50px rgba(0, 247, 255, 0.652);
    }

    40% {
        text-shadow: 0 0 50px rgba(255, 167, 5, 0.652);
    }

    50% {
        text-shadow: 0 0 50px rgba(255, 5, 5, 0.652);
    }

    60% {
        text-shadow: 0 0 50px rgba(255, 255, 5, 0.652);
    }

    70% {
        text-shadow: 0 0 50px rgba(5, 255, 255, 0.652);
    }

    80% {
        text-shadow: 0 0 50px rgba(255, 255, 255, 0.652);
    }

    90% {
        text-shadow: 0 0 50px rgba(255, 255, 255, 0.652);
    }

    100% {
        text-shadow: 0 0 50px rgba(255, 255, 255, 0.652);
    }
}

.wrapper h1.inactive {
    animation: textanimatecolor_ 2s ease-in-out 0.3s infinite forwards;
}

@keyframes textanimatecolor_ {
    0% {
        text-shadow: 0 0 65px rgba(251, 19, 19, 1);
        ;
    }

    50% {
        text-shadow: none;
    }

    100% {
        text-shadow: 0 0 65px rgba(251, 19, 19, 1);
    }
}


.tabs {
    padding: 0 5px;
    margin-top: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #111111;
    width: clamp(200px, 20vw, 600px);
    border-bottom: 2px solid #444;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    gap: 8px;
    flex-wrap: wrap;
}

.twrapper {
    padding: 3px 7px;
    cursor: pointer;
    border: none !important;
    border-radius: 0px;
    outline: none;
    background: #111;
    color: white;
    transition: background 0.3s;
    display: flex;
    flex-direction: row;
    gap: 0px;
    align-items: center;
    justify-content: center;
}

.twrapper img {
    width: 24px;
    height: 24px;
}

.twrapper button {
    cursor: pointer;
    border: none !important;
    background: transparent;
    color: var(--secondary-color);
    margin: 0, 0;
    padding: 0.75rem 0.5rem;
    font-size: 1rem;
}

.twrapper:hover {
    background-color: #222;
}

.twrapper.active {
    background-color: #222;
}

.tab-content {
    display: none;
    padding: 20px;
    background-color: #000000;
    width: clamp(200px, 20vw, 600px);
    height: clamp(200px, 100vh, 600px);
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.tab-content.active {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.workbench {
    padding: 10px 20px;

}

    .workbench h3 {
        font-size: 1.5rem;
        letter-spacing: 0.2rem;
        }

    .workbench p {
        font-size: 1rem;
        line-height: 1.75rem;
        letter-spacing: 0.08rem;
    } 


    .chat-container {
        display: flex;
        flex-direction: column;
        word-wrap: break-word;
        overflow-wrap: break-word;
        white-space: normal;
        flex-wrap: nowrap;
    }








.input-system {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    z-index: 2;
    background-color: #222;
    width: clamp(400px, 100vw, 800px);
    height: clamp(50px, 100vh, 80px);
    border-radius: 8px;
    margin-left: auto;
    margin-right: auto;
    gap: 12px;
    padding: 10px 20px;
}

.input-system input {
    border: none;
    outline: none;
    width: clamp(200px, 100vw, 300px);
    height: clamp(25px, 100vh, 45px);
    border-radius: 4px;
    padding: 5px 10px;
    background-color: #333;
}

.input-system input::selection {background-color: #03f484;color: #000000;}

.send-btn {
    width: 42px;
    height: 42px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 4px 7px;
    transform: scale(1);
    & img {
        width: 28px;
        height: 28px;
    }
}

.send-btn:hover {
    background-color: #1e1e1e;
}

.send-btn:active {
    transform: scale(0.9);
}









.usr-msg {
    margin-left: auto;
    text-align: right;
    white-space: normal;
    word-break: break-word;
    flex-shrink: 1;
    min-width: 0;

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;

    & p {
        background-color: #222;
        padding: 6px 12px;
        border-radius: 6px;
        white-space: normal;
        word-break: break-word;
        flex-shrink: 1;
        min-width: 0;
    }
    & img {
        width: 32px !important;
        height: 32px !important;
    }
}

.resp {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    
    & img {
        width: 32px;
        height: 32px;
    }

}
.bot-msg {
    display: flex;
    gap: 10px;
    flex-direction: column;
}

.bot-msg .person {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}

.person .pic {
    
    background-color: #0000005b;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 120px;
    border-radius: 8px;
    & img {
        width: 100px;
        height: 100px;
        border-radius: 8px;
    }
}

.person .info {

    & li {
        font-size: 0.86rem;
    }

}

txtr {
    font-family: inherit;
    font-size: inherit;
    color: rgba(255, 0, 0, 0.425);
}


@media (min-width : 768px) {
    .input-system input {
        width: clamp(600px, 100vw, 800px);
    }
}





@media (max-width : 768px) {
    .action-panel {
        display: none;
    }
    .input-system {
        padding: 4px 7px;
        height: clamp(60px, 100vh, 100px);
        width: clamp(200px, 100vw, 340px);

    }
    .input-system input {
        width: clamp(200px, 100vw, 280px);
        height: clamp(30px, 100vh, 60px);

    }
}