@media (max-width: 768px) {
    .main_logo {
        display: none;
    }
    .left-panel {
        padding: 10px;
        overflow-y: scroll;
        display: none;
    }
    .right-panel {
        margin-left: 15px;
    }

    .wrapper {
        max-width: max-content;
        max-height: max-content;
        width: 100%;
        height: 100%;
    }

    .tab {
        margin-left: 0%;
        height: max-content;
    }

    .tab-content {
        margin-left: 0%;

    }

    #left-panel-notes, #left-panel-notes-save-btn {
        display: none;
    }

    ._tab_combo {
        max-width: 150px;
        width: max-content;
    }

    .right-panel img {
        width: 90%;
        height: auto;
        margin-bottom: 0%;
    }

    .content {
        margin-top: 0%;
        font-size: 0.9rem;
    }

    .content h3 {
        font-size: 1.2rem;
    }

    .content p {
        font-size: 0.9rem;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }

    #mic-btn, #notes-btn{
        display: none;
    }
    
    .operation {
        display: flex;
    }

    .operation img {
        width: 32px;
        height: 32px;
    }
    .operation input {
        margin-left: 1%;
        width: 50%;
        height: 20px;
        font-size: 0.9em;
    }

    .operation input::selection{
        background-color: tomato !important;
    }

    #btn-send-message {
        height: 40px;
    }
    blockquote {
        margin-left: 10px;
        margin-right: 10px;
        padding: 10px;
    }

    .suggestions {
        left: 15%;
        width: 230px;
    }

    .smartnotes {
        /* margin-left: 10px; */
        flex-direction: column;
    }

    
    .smartyNotes {
        width: 280px;
        margin-left: 5%;
        margin-right: 5%;
    }
    .abutton-2 {
        background-color: transparent;
        position: absolute; 
        top: 20px; 
        right: 70px; 
        padding: 10px 20px;
        font-size: 16px;
        border: none;
        border-radius: 5px;
        cursor: pointer; 
    }
    .abutton-2 img {
        width: 32px; 
        height: 32px; 
        margin-right: 0px; 
        place-content: right;
    }

    .phone-tools, #phone-tools {
        z-index: 5000;
        display: block;
        width: 350px;
        height: max-content;

    }

    #phone-view-notes-butt{
        display: block;
    }

    .phone-tools .smartpannel-tools {
        position: fixed;
        top: 0;
        left: 15px;
        z-index: 5000;
        padding: 20px 20px 20px 20px;
        width: 300px;
        height: 600px;
        display: block;
        gap: 10px;
        /* margin-top: 20px; */
        border: 2px solid #000;
        background-color: #000;
        border-radius: 12px;
        transform: scale(1);
        backdrop-filter: blur(50px);
        transition: all 0.6s ease;
    }

    .smartnotes-button {
        width: 100px;
        margin-right: 2%;
        height: 35px;
    }


    

    .smartpannel-tools {
        display: flex;
        flex-direction: row;
        gap: 10px;
        width: max-content;
        height: auto;
    }

    




}
  
  /* @media (min-width: 768px) {
    body {
      display: none;
    }
  } */
  
  @media (min-width: 992px) {
    body {
      font-size: 18px;
    }
  }
  
@media (max-width : 371px) {
    .smartyNotes {
        width: 280px;
        margin-left: 5%;
        margin-right: 5%;
    }
}
