/* 
    Author : Arcade
    version : 3.0
    Theme : Spectre Green

*/



@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300italic,600italic,300,600");
@import url(./root.animations.css);
html, body {
  width: 100%;
  height: 100%;
}


body {
  line-height: 1.5;
  text-size-adjust: 100%;
}


body {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    font-family: Arial, sans-serif;

}

/* default tags */

    select {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' preserveAspectRatio='none' viewBox='0 0 40 40'%3E%3Cpath d='M9.4,12.3l10.4,10.4l10.4-10.4c0.2-0.2,0.5-0.4,0.9-0.4c0.3,0,0.6,0.1,0.9,0.4l3.3,3.3c0.2,0.2,0.4,0.5,0.4,0.9 c0,0.4-0.1,0.6-0.4,0.9L20.7,31.9c-0.2,0.2-0.5,0.4-0.9,0.4c-0.3,0-0.6-0.1-0.9-0.4L4.3,17.3c-0.2-0.2-0.4-0.5-0.4-0.9 c0-0.4,0.1-0.6,0.4-0.9l3.3-3.3c0.2-0.2,0.5-0.4,0.9-0.4S9.1,12.1,9.4,12.3z' fill='%23ffffff' /%3E%3C/svg%3E");
        background-size: 1.25rem;
        background-repeat: no-repeat;
        background-position: calc(100% - 1rem) center;
        height: 2.75rem;
        padding-right: 2.75rem;
        text-overflow: ellipsis;
    }

    a {
        -moz-transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out, border-bottom-color 0.2s ease-in-out;
        -webkit-transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out, border-bottom-color 0.2s ease-in-out;
        -ms-transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out, border-bottom-color 0.2s ease-in-out;
        transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out, border-bottom-color 0.2s ease-in-out;
        border-bottom: dotted 1px rgba(255, 255, 255, 0.5);
        text-decoration: none;
        color: inherit;
    }

    a:hover {
        border-bottom-color: transparent;
    }
    h1 a,
    h2 a,
    h3 a,
    h4 a,
    h5 a,
    h6 a {
        color: inherit;
        text-decoration: none;
    }

    h1.major,
    h2.major,
    h3.major,
    h4.major,
    h5.major,
    h6.major {
        width: -moz-max-content;
        width: -webkit-max-content;
        width: -ms-max-content;
        width: max-content;
        padding-bottom: 0.5rem;
        margin: 0 0 2rem 0;
    }

    h2 {
        font-size: 1.5rem;
        line-height: 1.4;
        letter-spacing: 0.5rem;
        font-family: "Source Sans Pro", sans-serif;
    }
    
    h3 {
        font-size: 1rem;
    }
    
    h4 {
        font-size: 0.8rem;
    }
    
    h5 {
        font-size: 0.7rem;
    }
    
    h6 {
        font-size: 0.6rem;
    }

    sub {
        font-size: 0.8rem;
        position: relative;
        top: 0.5rem;
    }
    
    sup {
        font-size: 0.8rem;
        position: relative;
        top: -0.4rem;
    }
    
    blockquote {
        border-left: solid 4px #03f484;
        font-style: italic;
        margin: 0 0 2rem 0;
        padding: 0.5rem 0 0.5rem 2rem;
    }

    blockquote.right {
        border-left: none;
        border-right: solid 4px #03f484;
    }
    
    code {
        background: rgba(255, 255, 255, 0.075);
        border-radius: 4px;
        font-family: "Courier New", monospace;
        font-size: 0.9rem;
        margin: 0 0.25rem;
        padding: 0.25rem 0.65rem;
    }
    
    pre {
        -webkit-overflow-scrolling: touch;
        font-family: "Courier New", monospace;
        font-size: 0.9rem;
        margin: 0 0 2rem 0;
    }
    
    pre code {
        display: block;
        line-height: 1.75;
        padding: 1rem 1.5rem;
        overflow-x: auto;
    }
    
    hr {
        border: 0;
        border-bottom: solid 1px #ffffff;
        margin: 1.55rem 0;
    }

    .highlightedStrong {
        background-color: #42423f;
        border-radius: 8px;
        padding-left: 1%;
        padding-top: 0.6%;
        padding-bottom: 0.6%;
        font-weight: 500;
        font-style: normal;
        font-variant: normal;
        text-transform: none;
        text-decoration: none solid rgb(236, 236, 236);
        text-indent: 0px;
        font-family : ui-monospace, SFMono-Regular, "SF Mono", Menlo, Consolas, "Liberation Mono", monospace
    }

    li {
        margin-bottom: 7px;
        color: inherit;
        font-family: inherit;
        font-size: inherit;
        line-height: inherit;
    }
    
    ul, ol {
        padding-left: 1.5rem;
    }

    p {
        font-size: 1rem;
    }
    
/* Custom Tags */
    ex {
        background-color: #333;
        color: inherit;
        font-family: monospace;
        border-radius: 0.25rem;
        padding: 0.15rem 0.3rem;
        font-size: inherit;
    }

    .gif-container img {
        background: transparent;
        display: block;
        width: 100%;
        height: auto;
      }


/* CUSTOM : COMMANDS */
    .align-left {
        text-align: left;
    }

    .align-center {
        text-align: center;
    }

    .align-right {
        text-align: right;
    }

#overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 999;
    
}


.toast {
    position: fixed;
    bottom: 0;
    right: 0;
}

    #toast {
        visibility: hidden;
        min-width: 250px;
        background-color: #333;
        color: #fff;
        text-align: center;
        border-radius: 8px;
        padding: 16px;
        position: fixed;
        bottom: 120px;
        right: 20px;
        font-size: 17px;
        z-index: 9990;
        opacity: 0;
        transition: opacity 0.5s, bottom 0.5s;
    }
    
    #toast.show {
        visibility: visible;
        opacity: 1;
        bottom: 70px;
    }

        #toast.error {
            border-left: solid 7px #ff6347;
        }

        #toast.info {
            border-left: solid 7px #3e55ea;
        }

        #toast.success {
            border-left: solid 7px #03f484;
        }

        #toast.warning {
            border-left: solid 7px #fff647;
        }

/* CUSTOM  : BUTTONS */

button.button-1 {
    background-color: #69a854;
    margin-right: 0.6%;
    transition: background-color 0.6s ease;
    transition: margin-right 3s ease-in-out;
    transition: box-shadow 0.5s ease;
}
    
    button.button-1:hover {
        box-shadow: 0 0px 12px rgba(255, 102, 0, 0.5); 
        border-radius: 5px;
        background-color: #69a854;
        font-size: 16px;
        text-decoration: none;
        text-transform: uppercase;
        overflow: hidden;
        transition: 0.5s;
        letter-spacing: 4px;
        transition: box-shadow 0.3s ease;
    }

button.button-2 {
    background-color: #1e1e1e;
    padding: 15px;
    margin-right: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    margin-left: 2%;
}

button.button-3 {
    background-color: #69a854;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    margin-top: 0.5%;
    width: 60%;
    padding: 10px;
    border: none;
    border-radius: 12px;
    background-color: #03f484;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(3, 244, 132, 0.3);
    transition: all 0.3s ease;
}

    button.button-3:hover{
        border-radius: 5px;
        box-shadow: 0 0 5px #03f484, 0 0 25px #03f484, 0 0 50px #03f484, ;
        background-color: #03f484;
        font-size: 16px;
        text-decoration: none;
        text-transform: uppercase;
        overflow: hidden;
        transition: 0.5s;
        letter-spacing: 4px;
    }


button.btn-grn {
    background-color: #03f484;
    box-shadow: 0 4px 8px rgba(3, 244, 132, 0.3);
    transition: all 0.3s ease;
}

    button.btn-grn:hover {
        box-shadow: 0 0 5px #03f484, 0 0 25px #03f484, 0 0 50px #03f484 ;
        background-color: #03f484;
        transition: all 0.3s ease;
    }

button.btn-red {
    background-color: #ff6347;
    box-shadow: 0 4px 8px rgba(255, 99, 71, 0.3);
    transition: all 0.3s ease;
}

    button.btn-red:hover {
        box-shadow: 0 0 5px #ff6347, 0 0 25px #ff6347, 0 0 50px #ff6347 ;
        background-color: #ff6347;
        transition: all 0.3s ease;
    }

h1.major,
h2.major,
h3.major,
h4.major,
h5.major,
h6.major {
    border-bottom: solid 1px #ffffff;
}


