* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    transition: background-color 0.3s ease;
    line-height: 1.5;
    color: #ffffff;
}

html, body {
    height: 100vh;
    scroll-behavior: smooth;
}

body {
    overflow: hidden;
    width: 100%;
    height: 100vh;        

}


h1 {
    font-size: clamp(2rem, 4vw, 3.5rem);
    font-weight: 700;
}

h2 {
    font-size: clamp(1.75rem, 3.5vw, 3rem);
}

h3 {
    font-size: clamp(1.5rem, 3vw, 2.5rem);
}

h4 {
    font-size: clamp(1.25rem, 2.5vw, 2rem);
}

h5 {
    font-size: clamp(1.125rem, 2vw, 1.5rem);
}

h6 {
    font-size: clamp(1rem, 1.75vw, 1.25rem);
}

/* PARAGRAPH */
p {
    font-size: clamp(1rem, 1.5vw, 1.25rem);
    color: rgba(255, 255, 255, 0.85);
}

/* LINKS */
a {
    color: #00ffd1;
    text-decoration: none;
    transition: all 0.3s ease;
}

a:hover {
    text-decoration: underline;
    color: #7fffd4;
}

/* button {
    font-size: clamp(1rem, 1.5vw, 1.25rem);
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 0.75rem;
    background: #2d5543;
    color: white;
    cursor: pointer;
    transition: background 0.3s ease;
}

button:hover {
    background: #386b56;
} */


.progress-container {
    width: 80%;
    max-width: 500px;
    height: 12px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.2);
}

.progress-bar {
    width: 0%;
    height: 100%;
    background: linear-gradient(90deg, cyan, magenta);
    box-shadow: 0px 0px 15px rgba(0, 255, 255, 0.7);
    border-radius: 10px;
    transition: width 0.5s ease-in-out;
}

.progress-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 14px;
    font-weight: bold;
    text-shadow: 0px 0px 5px rgba(255, 255, 255, 0.7);
}

.scroll-container {
    overflow-y: auto;
    height: 100%;
}

.scroll-container::-webkit-scrollbar {
    width: 8px;
}

.scroll-container::-webkit-scrollbar-thumb {
    background-color: #aeb9e1;
    border-radius: 4px;
}

.scroll-container::-webkit-scrollbar-track {
    background-color: transparent;
}

.fpanel-content {
    width: fit-content;
    overflow: hidden;
}